---
import Layout from "../layouts/Layout.astro";
import ThemeSelector from "../components/ThemeSelector.astro";
---

<Layout>
  <div>
    <h1 class="my-16 hero text-center text-accent text-6xl font-bold">
      DaisyUI theme picker for Astro
    </h1>
    <div class="my-16 hero text-center">
      <div class="max-w-md"></div>
      <div class="stats shadow">
        <div class="stat place-items-center">
          <div class="stat-title">Downloads</div>
          <div class="stat-value text-primary">31K</div>
          <div class="stat-desc">From January 1st to February 1st</div>
        </div>

        <div class="stat place-items-center">
          <div class="stat-title text-primary">Users</div>
          <div class="stat-value text-secondary">4,200</div>
          <div class="stat-desc">↗︎ 40 (2%)</div>
        </div>

        <div class="stat place-items-center">
          <div class="stat-title text-accent">New Registers</div>
          <div class="stat-value text-neutral">1,200</div>
          <div class="stat-desc text-accent">↘︎ 90 (14%)</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero">
    <div class="grid grid-rows-4 grid-flow-col gap-4">
      <ThemeSelector />
    </div>
  </div>
</Layout>
